{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}
<h2>Give your feedback!</h2>

{% for film in films %}
    <h4>{{ film }}</h4>

    <p><a href="{{ path('film', { slug: film.slug }) }}">View</a></p>
{% endfor %}
{% endblock %}
