<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <h1><a href="{{ path('home') }}">Films</a></h1>
            <ul>
                {% for film in films %}
                    <li><a href="{{ path('film', { id: film.id }) }}">{{ film }}</a></li>
                {% endfor %}
            </ul>
        </header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
